/* LUCAS FRANÇA ROSSETTI, Analise e Desenvolvimento de SISTEMAS */
* {
	font-family:Arial; /* serve para deixar todas as fontes em arial */
	background-color: white;
}

/* serve para deixar todas as margens zeradas, para que modifique manualmente depois */
body {
	margin:0;
	padding:0;
}

/* flexivel e centralizado */
header {
	display:flex;
	justify-content:center;
	height:100px;
	background-color: white;
}
.container {
	display:flex;
	justify-content:space-between;
	width:990px;
	background-color: white;
}
.MeuNome {
	display:flex;
	align-items:center;
	background-color: white;
}


/* # é para pegar a id do html */
#banner {
	display:flex;
	justify-content:center;
	background-image:url('../images/img1.jpg');
	background-position:center;
	background-size:cover;
	height:500px;
}

/* abaixo tem '.' para pegar cada class */
.banner_headline {
	flex:1;
	display:flex;
	flex-direction: column;
	justify-content:center;
}

/* ao deixar o label com "display: block" ele automaticamente vai ficar um input embaixo do outro*/
label {
	display: block;
	margin-bottom: 20px;
}

/* nesse campo deixa-se o input de texto e email formatados, largura e padding */
input[type=text], input[type=email] {
	padding: 10px;
	width: 450px;
}

textarea {
	height: 180px;
	resize: none; /* isso elimina a possibilidade do usuário aumentar a caixa de texto */
	width: 450px;
}

/* aqui é para deixar o botão de envio mais visivel */
input[type=submit] { 
	padding: 10px;
}





.footer_class {
	padding: 10px;
	color: black;
	background-color:darkgray;
	display:flex;
	justify-content:center;
}

	.MeuNome {
		padding-left:20px;
	}


}


































